[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
sqlalchemy = "*"
aiopg = "*"
python-dotenv = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.8"
