<!DOCTYPE html>
<head>
    <title>RQT chat-app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <ul id="messages"></ul>
    <input type="text" id="message" placeholder="type message here"/>
    <button onclick="sendMessage()">click it</button>
    <script>
        var ws = new WebSocket(
            "ws://" + document.domain + ":" + location.port + "/ws"
        );
        ws.onmessage = function (event) {
            document.getElementById('messages').appendChild(createListNode(JSON.parse(event.data)));
        };
        function createListNode(content){
            const lNode = document.createElement('li');
            lNode.textContent = content;
            return lNode;
        }
        function sendMessage(){
            const messageInput = document.getElementById('message');
            // document.getElementById('messages').appendChild(createListNode(message));
            console.log(ws);$.ajax({
                type: "POST",
                url: 'http://127.0.0.1:5000/telepath',
                contentType: 'application/json',
                data: JSON.stringify({'message': messageInput.value}),
                dataType: "json",
                success: function (result, status, xhr) {
                    messageInput.value = '';
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
            // ws.send(messageInput.value);
        }
    </script>
</body>
